@font-face {
    font-family: "Selectric";
    font-style: normal;
    font-weight: normal;
    src: local("Selectric"), url("%sveltekit.assets%/SLC_.woff") format("woff");
}

:root {
    --container-padding: 24px;
    --sidebar-width: 80px;
    --sidebar-height: 52px;
    --sidebar-padding: 4px;
}

body {
    background-color: #839ca9;
    margin: 0;
    height: 100vh;
    overflow: auto;
    color: white;
    /* font-family: Selectric; */
    font-family: hack, monospace, sans-serif;
    font-size: medium;
    transition: all 1s;
}

p + p {
    margin-top: 1rem;
}

a {
    color: #0090e0;
}

a:visited {
    color: #0090e0;
}

br {
    margin: 0px 4px;
}

section.container {
    background-color: #131313;
    border: 2px solid white;
    padding: 24px;
}

@media only screen and (max-width: 40rem) {
    :root {
        --container-padding: 12px;
        --sidebar-width: 100vw;
        --sidebar-height: 52px;
        --sidebar-padding: 4px;
    }

    section.container {
        padding: 12px;
    }
}
