@font-face {
  font-family: 'Selectric';
  font-style: normal;
  font-weight: normal;
  src: local('Selectric'), url('%sveltekit.assets%/SLC_.woff') format('woff');
}

body {
    /* background-color: #839ca9; */
    margin: 0;
    height: 100vh;
    overflow: auto;
    color: white;
    /* font-family: Selectric; */
    font-family: hack, monospace, sans-serif;
    font-size: medium;
}

p + p {
    margin-top: 16px;
}

a {
    color: #0090e0;
}

a:visited {
    color: #0090e0;
}

br {
    margin: 0px 4px;
}
